<div class="wrap-list">
	<div class="view-list">

	<h1> Strategic Advisor Executives </h1>
	<hr>
<table>
	<thead>
		<tr>
			<th><h2><u>First Name</u></h2></th>
			<th><h2><u>Last Name</u></h2></th>
			<th><h2><u>Job Title</u></h2></th>
			<th><h2><u>Organization</u></h2></th>
			<th><h2><u>Actions</u></h2></th>
		</tr>
	</thead>
	<tbody>
		<% @executives.each do |executive| %>
			<tr>
				<td><strong><%= executive.firstname %></strong>
				</td>
				<td><strong><%= executive.lastname %></strong>
				</td>
				<td><%= executive.relationships.first.job_title %></strong>
				</td>
				<td><%= executive.relationships.first.organization.org_name %></strong>
				</td>
				<td>
				<ul>
						<li><%= link_to 'Details', executive %></li>
						<li><%= link_to 'Edit', edit_executive_path(executive) %></li>
						<li><%= link_to 'Delete', executive, method: :delete, data: { confirm: 'Are you sure?' } %></li>
					</ul>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
		<br>
		<hr>

</div>
</div>