<script>
$(document).ready(function(){
    var selected_val = sessionStorage.getItem("organization_choice");
    $("#organization_choice").val(selected_val);//This would set the value from sessionStorage as selected value

    $("#organization_choice").change(function(){
       var selected = $("#organization_choice").val();
       
       sessionStorage.setItem("organization_choice", selected);//Setting the selected value in sessionStorage
       
       location.href="/reports/org_associations?organization=" + this.value;

		document.getElementById("this_org_choice").innerHTML = this.value;
    });
});


	// After the page fully loads ...
	// $(function(){
		// ... make it so when the drop-down changes, we do something
	// 	$("#organization_choice").change(function(){
	// 		console.log(this.value);
	// 		location.href="/reports/org_associations?organization=" + this.value;

	// 		document.getElementById("this_org_choice").innerHTML = subject_org;
	// 	})
	// });
</script>

<div class="wrap-list">
	<div class="view-list">

		<h1> Find an Organization's Associations with Other Orgs </h1>
			<h2><i>Subject Org You Want to Search: <span id="this_org_choice"></span></i>
				<br>
				&nbsp;<%= select_tag "organization_choice", options_for_select(@organizations), :class => "form-text-area" %></h2>
		<br><br>
		<hr>
		<table>
			<thead>
				<tr>
					<th><h2>Associated Object Organization</h2><br></th>
					<th><h2>Executive Affliated w/ this Org</h2><br></th>
					<th><h2>Type of Organization</h2></th>
					<th><h2>Type of Association</h2></th>
					<th><h2>Association Initiated by</h2><br></th>
				</tr>
			</thead>
			<tbody>
			<% @associations.each do |association| %>
				<tr>
					<td><%= association.rorg_name %></td>
					<td><%= association.rexec_firstname %> <%= association.rexec_lastname %></td>
					<td><%= association.rorg_types_id %></td>
					<td><%= association.rassoc_type %></td>
					<td><%= association.initiator_or_receiver %></td>
				</tr>
			<% end %>
			</tbody>
		</table>

	</div>
</div>